* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}


.Navbar-logo{
  display: flex;
  justify-content: baseline;
  align-items: center;

  
}

.banner-picture{
  width: 100%;
  height: 100vh
}

h1 {
  font-size: 15px;
  color: rgba(34, 4, 63, 0.726);
  font-family: 'Michroma', sans-serif;
  padding-inline-start: 15px;
  
}



.NavBar-container{
  display: flex;
  justify-content: space-around;
  justify-content: baseline;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
   align-items: center;
}
.products-list{
  display: flex;

  justify-content: space-around;
  color: rgba(34, 4, 63, 0.726);
 
}

.products{
  color: rgba(34, 4, 63, 0.726);
   padding-inline-start: 15px;
}

a.products:hover {
  background-color:  rgba(34, 4, 63, 0.726);
  color: white;
  border-radius: 10px;
}

.cart-div {
display: flex;
justify-content: baseline;

align-items: center;

}

.cart-numerito{
  color: rgba(34, 4, 63, 0.726);
  font-weight: 700;
  font-size: 20px;
}

.material-symbols-outlined{
  font-size: 25px;
}

.greeting-welcome{
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: rgba(34, 4, 63, 0.726);
  font-weight: 900;
  font-size: 25px;
  margin: 15px;
  
}